<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
    <h1>¡Bienvenido a tu sesión!</h1>
    <form action="/usuarios/logout" method="POST">
        <button type="submit">Cerrar sesión</button>
    </form>
</body>
</html>